body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0079bf;
  color: #172b4d;
}
.container {
  padding: 20px;
}
.container header {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}