body {
  margin: 0;
  font-family: Consolas, 'Courier New', monospace;
  background-color: #f0f2f5;
}

.container {
  max-width: 500px;
  margin: 40px auto;
}

.container header {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}