body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}
.container {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 15px;
}
.container header {
  text-align: center;
  margin-bottom: 2rem;
}