/* Define CSS variables for the light theme in the root */
:root {
  --background-color: #ffffff;
  --text-color: #2c3e50;
  --header-background: #f1f1f1;
  --button-background: #3498db;
  --button-text-color: #ffffff;
  --input-background: #ecf0f1;
  --border-color: #bdc3c7;
}

/* This is where the dark theme variables should be applied */
.dark-theme {
  --background-color: #2c3e50;
  --text-color: #ecf0f1;
  --header-background: #34495e;
  --button-background: #e67e22;
  --button-text-color: #ffffff;
  --input-background: #34495e;
  --border-color: #7f8c8d;
}

/* General app styles that use the variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px;
}

.container header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--header-background);
}

.content {
  padding: 20px;
}

.theme-toggle-button,
.primary-button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input {
  display: block;
  margin-top: 20px;
  padding: 10px;
  width: 250px;
  background-color: var(--input-background);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}