 body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0079bf;
}
.app-container {
  padding: 20px;
}
.app-container header {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}