body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f5f7;
  color: #172b4d;
}
.container {
  max-width: 600px;
  margin: 40px auto;
}
.container header {
  text-align: center;
  margin-bottom: 2rem;
}