body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #4a6fa5;
  padding: 15px;
  color: white;
  margin-bottom: 40px;
}