body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1d;
  color: white;
}
.container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}
.container header {
  margin-bottom: 2rem;
}