 body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: #c5e4e7;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container header {
  color: #00474b;
  margin-bottom: 2rem;
}