.tip-calculator-container {
  background-color: #fff;
  padding: 25px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 800px;
}

.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
  color: #5e7a7d;
  font-weight: 700;
  margin-bottom: 5px;
}
.input-group input {
  width: 100%;
  padding: 8px;
  background-color: #f3f9fa;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: right;
  font-family: inherit;
  font-size: 1.2rem;
  color: #00474b;
  font-weight: 700;
  box-sizing: border-box;
}
.input-group input:focus {
  outline: none;
  border-color: #26c2ae;
}

.tip-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.tip-options button, .tip-options input {
  padding: 8px;
  font-size: 1.2rem;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #00474b;
  color: #fff;
}
.tip-options button.active {
  background-color: #26c2ae;
  color: #00474b;
}

.results-section {
  background-color: #00474b;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.result-item small {
  color: #7f9d9f;
}
.result-value {
  font-size: 2.5rem;
  color: #26c2ae;
  font-weight: 700;
}
.reset-btn {
  margin-top: auto; /* Push to the bottom */
  padding: 10px;
  background-color: #26c2ae;
  color: #00474b;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.reset-btn:disabled {
  background-color: #0d686d;
  color: #00474b;
}