.range-slider-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; /* Give it some space */
}

/* Base styling for the thumbs */
.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.thumb::-moz-range-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.slider {
  position: relative;
  width: 100%;
}
.slider__track {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #cbd5e1;
  border-radius: 3px;
  z-index: 1;
}
.slider__range {
  position: absolute;
  height: 5px;
  background-color: #3b82f6;
  z-index: 2;
  border-radius: 3px;
}

.slider__left-value,
.slider__right-value {
  position: absolute;
  color: #475569;
  font-size: 14px;
  margin-top: 20px;
   transform: translateX(-50%);
}
.slider__left-value {
  left: 0;
}
.slider__right-value {
  right: 0;
}