body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.container header {
  margin-bottom: 2rem;
}