 body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
}

.container header h1 {
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}