body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #333a45;
  color: #d1d5db;
}
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 15px;
}
.container header {
  text-align: center;
  margin-bottom: 2rem;
}