 body.modal-open {
  overflow: hidden;
   /* This should prevent background scrolling */
}
html, body {margin: 0; height: 100%; overflow: hidden}

.container {
  padding: 40px;
}
.container header {
  text-align: center;
  margin-bottom: 2rem;
}
.open-btn {
  padding: 12px 25px;
  font-size: 1.2rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}