body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f2f5;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #2c3e50;
  padding: 15px;
  color: white;
  margin-bottom: 30px;
}