body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f8ff; /* AliceBlue */
}
.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 0 15px;
}
.container header {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}