 body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container header {
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
}
.workspace {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background-color: #c7d2fe;
  overflow: hidden;
}