.step-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.steps::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #e0e0e0;
  z-index: 1;
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  background-color: #3498db;
  z-index: 2;
  transition: width 0.4s ease;
}

.step-circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  z-index: 3;
  transition: all 0.4s ease;
}

/* -- This class should be applied to active steps -- */
.step-circle.active {
  border-color: #3498db;
  color: #333;
}


.step-controls {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 8px 30px;
  font-size: 14px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}