body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
}
.container header {
  text-align: center;
  padding: 10px;
}
.workspace {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #e0e0e0;
  overflow: hidden;
}