body {
  background-color: #7d5a94;
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 20px;
}

.app {
  max-width: 700px;
  margin: 0 auto;
}

.app header h1 {
  color: white;
  text-align: center;
  font-size: 2.5em;
}