body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background-color: #f7f9fc;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.container header {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}