 body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f2f6;
}

.container {
  max-width: 700px;
  margin: 40px auto;
}

.container header {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}