 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f5f7;
}

.container {
  max-width: 700px;
  margin: 40px auto;
}
.container header {
  text-align: center;
  margin-bottom: 2rem;
  color: #172b4d;
}