body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
}