body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f2f5;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #0079bf;
  padding: 10px 20px;
  color: white;
}