body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  max-width: 450px;
  text-align: center;
}
.container header {
  margin-bottom: 2rem;
  color: #333;
}