.spreadsheet-container {
  overflow-x: auto;
  border: 1px solid #dfe1e6;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dfe1e6;
  padding: 0;
  min-width: 100px;
  height: 25px;
  text-align: center;
}

thead th {
  background-color: #f4f5f7;
  font-weight: bold;
}

tbody th {
  background-color: #f4f5f7;
  padding: 5px;
}

td input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  font-family: inherit;
  font-size: 14px;
}

td input:focus {
  outline: 2px solid #0052cc;
  box-shadow: 0 0 0 2px #0052cc;
  z-index: 1;
  position: relative;
}