body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.score-section {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

.score-section button {
  margin-top: 20px;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  margin: 5px 0;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #7cc6fe;
  cursor: pointer;
}

button:hover {
  background-color: #555e7d;
}

.feedback-section {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  min-height: 25px; /* Reserve space for feedback */
}