 body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f8fafc;
}
.container {
  max-width: 700px;
  margin: 40px auto;
}
.container header {
  text-align: center;
  margin-bottom: 2rem;
}