 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8fafc;
}
.container {
  max-width: 900px;
  margin: 20px auto;
}
.container header {
  text-align: center;
  margin-bottom: 2rem;
}