 body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #f7fafc;
}
.container {
max-width: 500px;
margin: 40px auto;
text-align: center;
}
.container header {
margin-bottom: 2rem;
}