body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #e2e8f0;
}
.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 15px;
}
.container header {
  text-align: center;
  color: #1e293b;
  margin-bottom: 2rem;
}