body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #fafafa;
  color: #262626;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 15px;
}
.container header {
  text-align: center;
  margin-bottom: 2rem;
}