.search-bar {
  display: flex;
  margin-bottom: 2rem;
}
.search-bar input {
  flex-grow: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.search-bar input:focus {
  outline: none;
  border-color: #a2a2a2;
}
.search-bar button {
  padding: 0 25px;
  border: 1px solid #dbdbdb;
  background-color: #0095f6;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}