.equalizer-container {
  background-color: #333;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.equalizer-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  position:relative;
}

.band-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 15px;
}

.eq-slider {
  -webkit-appearance: none; /* Override default CSS */
  appearance: none;
  width: 100%; /* Length of the slider */
  height: 10px; /* Thickness of the bar */
  transform: rotate(-90deg);
  background: #555;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* --- Styling the slider thumb --- */
.eq-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4a90e2;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.eq-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4a90e2;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.eq-label {
  font-weight: bold;
  position:absolute;
  bottom:10px;
}

.controls {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls span {
  font-style: italic;
}
.controls button {
  padding: 8px 15px;
  background-color: #555;
  color: #fff;
  border: 1px solid #777;
  border-radius: 5px;
  cursor: pointer;
}